body{
    background-color: black;
}

header{
    color:white;
    text-align: center;
    font-size: 5rem;
    font-family: Roboto Mono, monospace;
    text-shadow: 10px 10px 22px #313131;
}

p{
    color: white;
    text-align: center;
    font-size: 50px;
    margin-top: 11%;
    font-family: Roboto Mono, monospace;
    text-shadow: 10px 10px 22px #313131;
}